html,
body {
    min-height: 100vh;
}

body {
display: flex;
flex-direction: column;
font-family: var(--font-jetbrains), monospace;
background: var(--bg-page);
color: var(--text-main);
}

.main-content {
    flex: 1;
}