#particles-js {
    position: fixed;
    inset: 0;
    z-index: -1;
}

#particles-js canvas {
    display: block;
}

/* Seleção de texto global */
::selection {
    background-color: var(--amethyst);
    color: var(--bg-page);
}

/* Se quiser apenas em áreas específicas */
.about-section ::selection {
    background-color: var(--amethyst);
    color: var(--text-primary);
}